header {
  min-height: 100px;
  z-index: 10;

  .navbar {
    min-height: 100px;
    padding: 0;

    .nav-item {
      margin-right: 38px;

      &:last-child {
        margin-right: 0;
      }
    }

    .nav-link {
      font-family: Gilroy,sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      display: flex;
      align-items: center;

      color: #999999;
    }

    .active {
      font-family: Gilroy,sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      display: flex;
      align-items: center;
      letter-spacing: 0.05em;
      color: #3A3A3A;
    }
  }

}
.c-slider {
  position: relative;
  #slider {
    position: relative;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    width: 100%;
    height: 600px;
    margin-bottom: 82px;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    h1 {
      position: absolute;
      height: 47px;
      top: 51px;
      left: 41px;
      font-family: Gilroy,sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 47px;
      /* identical to box height */
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #3A3A3A;
    }
    a {
      position: absolute;
      width: 117px;
      top: 100px;
      left: 41px;

      font-family: Gilroy, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      /* identical to box height */
      text-decoration: none;
      display: flex;
      flex-direction: column;
      text-transform: uppercase;

      color: #3A3A3A;

      &:after {
        content: '';
        width: 117px;
        height: 2px;
        margin-top: 6px;
        background: rgba(58, 58, 58, 0.8);
        border-radius: 2px;
      }
    }
  }
  #dots {
    display: flex;
    flex-direction: column;
    top: 50%;
    left: -100px;
    transform: translateY(-50%);
    list-style:none;
    padding:0;
    position: absolute;

    li {
      padding: 10px;
      position: relative;
      div {
        border-radius: 50%;
        width: 6px;
        height: 6px;
        background: #3A3A3A;
      }
      &.active:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        border-radius: 50%;
        border: 0.8px solid #3A3A3A;
        background: none;

        width: 16px;
        height: 16px;
      }
    }
  }
  .list-unstyled {
    position: absolute;
    top: 50%;
    right:-100px;
    transform: translateY(-50%);
    a {
      margin: 23px 0;

      i {
        color: #3A3A3A;
        font-size: 23px;
      }
    }
  }
}

.btn {
  margin-bottom: 46px;
  border-radius: 0;
  &.btn-prim {
    padding: 12px 22px;
    background: #F0EDED;

    font-family: Gilroy,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #BDBCBC;
  }
  &.active {
    background: #3A3A3A;
    color: #F0EDED;
  }
}

.gallery {
  transform: translateX(-30px) translateY(-30px);
  box-sizing: content-box;
  width: 100%;
  padding: 30px;

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;

  }
  li {
    display: inline-block;

    .card-carousel {
      width: 100%;
      background-color:#fff;
      z-index: 99;
      .card-body {
        h5 {
          font-family: Gilroy, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 13px;
          line-height: 16px;

          display: flex;
          align-items: center;
          text-transform: uppercase;

          color: #3A3A3A;

        }
        .card-text {
          font-family: Gilroy, sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 16px;
          /* identical to box height */

          display: flex;
          align-items: center;
          text-transform: uppercase;

          color: #999999;
        }
        a {
          display: none;
          width: 34px;
          height: 34px;
          border-radius: 50%;
          background: #3A3A3A;
          align-items: center;
          justify-content: center;

          img {
            color: #FFFFFF;
            width: 100%;
          }
        }
      }
      &.active {
        background-color:#fff;
        z-index: 100;
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
        a {
          display: flex;
        }
      }
    }
  }
}

footer {
  h1 {
    font-family: Gilroy,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3A3A3A;
    margin-bottom: 25px;

  }
  li a {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 40px;

    display: flex;
    align-items: center;

    color: #999999;

    &.disabled.btn {
      padding: 0;
      line-height: 40px;
    }

  }
  li a i.fa {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;

    display: flex;
    align-items: center;

    color: #999999;
  }
}

.dots {
  display: flex;
  list-style: none;
  padding: 0;

  li {
    padding: 10px;
    position: relative;

    div {
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background: #3A3A3A;
    }

    &.active:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      border-radius: 50%;
      border: 0.8px solid #3A3A3A;
      background: none;

      width: 16px;
      height: 16px;
    }
  }
}
#dots-2 {
  transform: translateY(-26px);
  margin-top: 0px;
  margin-bottom: 80px;
}
@media (max-width: 1400px) {
  .c-slider #dots {
    left: -20px;
    top: 50%;
  }
  .c-slider .list-unstyled {
    right: -20px;
    top: 50%;
  }
}
